<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Gestion_Laboratorios.Properties.Settings.Gestion_laboratoriosConnectionString" connectionString="Data Source=AARONLAPTOP;Initial Catalog=Gestion_laboratorios;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Gestion_laboratoriosEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AARONLAPTOP;initial catalog=Gestion_laboratorios;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ReservEntities" connectionString="metadata=res://*/GestionLabModel.csdl|res://*/GestionLabModel.ssdl|res://*/GestionLabModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AARONLAPTOP;initial catalog=Gestion_laboratorios;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>